*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family:  'Poppins', sans-serif;
    background-image: url("images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem;
    color: #ffff;
}

h1{
    text-align: center;
    color: inherit;
    font-size: 3rem;
    font-weight: 500;
    padding: 0.5rem;
}

form {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    justify-content: center;
    font-family: inherit;
    padding: 0.7rem;
    justify-content: space-between;
}

form input{
    background-color: #fefefe;
    padding: 1.18rem;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-right: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form select{
    background-color: #fefefe;
    letter-spacing: 0.5px;
    max-height: calc(1.8em + 15px);
    height: calc(1.8em + 15px);
    color: #666;
    outline: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.btn{
    margin-top: 2rem;
    color: inherit;
    background-color: rgba(255,255,255,0.3);
    padding: 1.3rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.2rem;
    border: #fff;
    cursor: pointer;
}

.btn:hover{
    background-color: #b9b9b9;
}

.card{
    position: absolute;
    left: 19%;
    top: 20%;
    background-color: rgba(255,255,255,0.12);
    height: 75%;
    width: 67%;
    border-radius: 0.2rem;
    border: none;
    backdrop-filter: blur(10%);
}

img{
    padding-top: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40rem;
}

.no-mass{
    position: absolute;
    left: 33%;
    top: 26%;
    font-size: 1.8rem;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem 10rem;
}

.object{
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    left: 52%;
    top: 44%;
    padding: 4rem 5rem;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
    }

    form {
        width: 100%;
        padding: 2%;
        margin: 0 auto;
    }

    form input{
        padding: 1rem;
        display: inline-block;
        width: 35%;
        letter-spacing: 0.5px;
        border-radius: 0.5rem;
        font-size: 1rem;
        margin-right: 1rem;
    }

    form select{
        max-height: calc(1.2em + 20px);
        height: calc(1.2em + 20px);
        font-size: 1rem;
        margin-right: 1rem;
        display: inline-block;
        width: 35%;
    }

    .img{
        padding-top: 12rem;
        height: 50rem;
    }

    .card{
        position: absolute;
        left: 5%;
        top: 20%;
        background-color: rgba(255,255,255,0.12);
        height: 75%;
        width: 90%;
        border-radius: 0.2rem;
        border: none;
        backdrop-filter: blur(10%);
    }

    .no-mass, .object{
        position: absolute;
        left: 10%;
        top: 24%;
        font-size: 1.5rem;
        font-weight: 400;
        background: rgba(255, 255, 255, 0.3);
        padding: 1rem 7rem;
    }
}